<div class="api-settings">
  <form (submit)="addNewParam($event)" class="flex">
    <mat-form-field class="flex-fill">
      <input matInput [(ngModel)]="addingParamName" placeholder="Add Option" aria-label="Option" [matAutocomplete]="auto" [formControl]="optionsCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" [title]="option.description">
          <b>{{ option.name }}</b><span style="font-size: 0.8em"> {{ option.description }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      title="Add Param"
    >
      <mat-icon>add</mat-icon>
    </button>
  </form>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let param of selectedParams" style="height: 60px;">
      <mat-grid-list cols="5" rowHeight="60px" style="width: 100%;">
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
        >
          <b [title]="param.description">{{ param.name }}</b>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
        >
          <mat-select *ngIf="param && param.values" [(ngModel)]="param.value">
            <mat-option *ngFor="let val of param.values" [value]="val">
              {{ val }}
            </mat-option>
          </mat-select>

          <mat-form-field *ngIf="!param.values && param.type === 'string'" class="example-full-width">
            <input matInput [(ngModel)]="param.value" value="Sushi">
          </mat-form-field>

          <mat-form-field *ngIf="!param.values && param.type === 'number'" class="example-full-width">
            <input matInput [(ngModel)]="param.value" value="Sushi" type="number">
          </mat-form-field>

          <mat-slide-toggle *ngIf="!param.values && param.type === 'boolean'" [(ngModel)]="param.value" checked></mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="1"
          [rowspan]="1"
        >
          <button
            mat-icon-button
            color="primary"
            (click)="removeParam(param)"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-list-item>
  </mat-list>
</div>

