<div class="converter">
  <div class="settings">
    <div>
      <mat-form-field>
        <mat-select placeholder="From" [(ngModel)]="selectedFrom">
          <mat-option *ngFor="let option of optionsFrom" [value]="option.value">
            {{ option.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <textarea [(ngModel)]="inputText"></textarea>
  </div>
  <button mat-icon-button color="primary" (click)="convert()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <div class="settings">
    <div>
      <mat-form-field>
        <mat-select placeholder="To" [(ngModel)]="selectedTo">
          <mat-option *ngFor="let option of optionsTo" [value]="option.value">
            {{ option.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="progress-stripes" *ngIf="loading"><div style="width: 100%; height: 10px;"></div></div>
    <div *ngIf="apiResult && downloadOnlyOptions.includes(apiResult.format)" style="width: 100%; text-align: center;">
      <p>This format cannot be previewed.</p>
      <a
        mat-raised-button
        color="primary"
        style="margin: 20px;"
        [href]="apiResult.downloadLink"
      >
        <mat-icon>get_app</mat-icon>
        Download
      </a>
    </div>
    <textarea
      *ngIf="!apiResult || !downloadOnlyOptions.includes(apiResult.format)"
      [(ngModel)]="outputText"
      [disabled]="!outputText"
      [style.margin-top]="loading ? '0' : '10px'"
      readonly
    ></textarea>
  </div>
</div>
