.settings {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  width: 100%;
}

.settings:nth-of-type(1) {
  text-align: right;
}

.settings:nth-of-type(2) {
  text-align: left;
}

.converter {
  margin-top: 50px;
  margin-bottom: 60px;
}

.converter textarea, .converter object {
  resize: none;
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  height: 100vh;
  margin-top: 10px;
}

.converter > button {
  margin: 10px 20px;
}

.progress-stripes div {
  width: 100%;
  height: 100%;
  background-color: #FFC107;
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg, rgba(255, 255, 255, .45) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .45) 50%, rgba(255, 255, 255, .45) 75%,
    transparent 75%, transparent);
  animation: animate-stripes 2s linear infinite;
}

@keyframes animate-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 0;
    }
}
