<mat-spinner *ngIf="initialLoading"></mat-spinner>
<div [style.display]="initialLoading ? 'none': ''" class="wrapper">
  <div class="writing">
    <div class="panel">
      <!-- Params Input -->
      <form (submit)="submitParams($event)" class="flex-fill">
        <mat-form-field class="params">
          <input
            matInput
            type="text"
            name="params"
            [pattern]="reValidParams"
            [(ngModel)]="params"
            (change)="submitParams()"
            placeholder="CLI Parameters"
            autocomplete="off"
            required="true"
          >
          <mat-error *ngIf="errorParams.length > 0">{{ errorParams }}</mat-error>
        </mat-form-field>
        <input type="submit" style="display: none;">
      </form>

      <!-- Action Buttons -->
      <div>
        <button
          mat-icon-button
          color="primary"
          (click)="autorenew = !autorenew"
          [title]="'Autorenew ' + (autorenew ? 'En' : 'Dis') + 'abled'"
        >
          <mat-icon *ngIf="!autorenew">sync_disabled</mat-icon>
          <mat-icon *ngIf="autorenew">sync</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="generate()"
          title="Update Preview"
        >
          <mat-icon>play_circle_filled</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          [matMenuTriggerFor]="downloadMenu"
          [disabled]="!token"
          title="Download"
        >
          <mat-icon>file_download</mat-icon>
        </button>
      </div>

      <mat-menu #downloadMenu="matMenu">
        <button mat-menu-item (click)="download('pdf')">
          <mat-icon>file_download</mat-icon>
          <span>PDF</span>
        </button>
        <button mat-menu-item (click)="download('tex')">
          <mat-icon>file_download</mat-icon>
          <span>LaTeX</span>
        </button>
        <button mat-menu-item (click)="download('md')">
          <mat-icon>file_download</mat-icon>
          <span>Markdown</span>
        </button>
      </mat-menu>
    </div>
    <div class="flex-fill editor-wrapper">
      <div #editor id="editor"></div>
    </div>
  </div>
  <div class="reading">
    <div class="progress-stripes" *ngIf="loading"><div style="width: 100%;"></div></div>
    <div class="preview-error" *ngIf="errorPreview">
      <p>An error occurred:</p>
      <pre>{{ errorPreview }}</pre>
      <button mat-raised-button color="accent" (click)="errorPreview = ''">Dismiss</button>
    </div>
    <div *ngIf="!previewUrl" class="placeholder">
      <mat-icon>desktop_windows</mat-icon>
      <p>A preview of your document will appear here.</p>
    </div>
    <object *ngIf="previewUrl" [data]="previewUrl" type="application/pdf">
      <embed [src]="previewUrl" type="application/pdf" />
    </object>
  </div>
</div>
