<mat-spinner *ngIf="initialLoading"></mat-spinner>
<div [style.display]="initialLoading ? 'none': ''" class="wrapper">
  <div class="writing">
    <div>
      <div *ngIf="!showSettings" class="panel">
        <span *ngIf="lastSaved.date" class="info">Last saved: {{ lastSaved.date | date:'medium' }}</span>
        <!-- Action Buttons -->
        <div class="flex-fill"></div>

        <button
          mat-icon-button
          color="primary"
          (click)="update()"
          title="Update Preview (Ctrl-S)"
        >
          <mat-icon>sync</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          [matMenuTriggerFor]="downloadMenu"
          [disabled]="!token"
          title="Download"
        >
          <mat-icon>file_download</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="showSettings = !showSettings"
          title="Show Settings"
        >
          <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #downloadMenu="matMenu">
          <button mat-menu-item (click)="download('pdf')">
            <mat-icon>file_download</mat-icon>
            <span>PDF</span>
          </button>
          <button mat-menu-item (click)="download('tex')">
            <mat-icon>file_download</mat-icon>
            <span>LaTeX</span>
          </button>
          <button mat-menu-item (click)="download('md')">
            <mat-icon>file_download</mat-icon>
            <span>Markdown</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <app-settings
      *ngIf="showSettings"
      [currentParams]="params"
      (close)="showSettings = !showSettings"
      (update)="settingsChanged($event)"
    ></app-settings>
    <div class="flex-fill editor-wrapper" [class.hidden]="showSettings">
      <div #editor id="editor"></div>
    </div>
  </div>
  <div class="reading">
    <div class="progress-stripes" *ngIf="loading"><div style="width: 100%;"></div></div>
    <div class="preview-error" *ngIf="errorPreview">
      <p>An error occurred:</p>
      <pre>{{ errorPreview }}</pre>
      <button mat-raised-button color="accent" (click)="errorPreview = ''">Dismiss</button>
    </div>
    <div *ngIf="!previewUrl" class="placeholder">
      <mat-icon>desktop_windows</mat-icon>
      <p>A preview of your document will appear here.</p>
    </div>
    <object *ngIf="previewUrl" [data]="previewUrl" type="application/pdf">
      <embed [src]="previewUrl" type="application/pdf" />
    </object>
  </div>
</div>
