mat-spinner {
  margin: 15px auto;
}

.app-wrapper {
  text-align: center;
}

.header h1 {
  margin-bottom: 0;
}

.header h3 {
  font-weight: normal;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-fill {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.content {
  height: 100%;
}

footer a {
  margin-right: 10px;
}
